.heroH2 h2 {
    bottom: 0.25em;
}

#heroH1 h1 {
    top: 40%;
}

.moveUp {
    position: relative;
    top: -6em;
}

@media (max-width: 500px) {
	.heroH2 h2 {
        left: 0.5em;
        width: 80%;
        top: 1em;
	}
    .heroH2 {
        top: 11em;
    }

    .h1Background {
        top: 11em;
    }

    .heroImg {
        top: 11em;
    }

    #heroH1 h1 {
        top: 9.5em;
    }

    .whatWeDoImg {
        
		height: 10%;
		width: 80%;
    }

    
}