h3 {
    font-weight: normal;
}

.footerGrid {
    font-size: 1rem;
    background-color: #6b6b6b;;
}
.footerGrid a, p {
    color: #bdbdbd;
}

.footerGrid a {
    text-decoration: none;
}

#increaseOdds, #caughtIn{
    left: 5rem;
}

#hero h1 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    top: 50%;
    left: 20%;
    bottom: 0rem;
    position: absolute;
    max-width: 50%;
    z-index: 2;
}

#whatAvalanche {
    position: relative;
    top: -13rem;
}

.gridOneFade h2, .gridOneFade ul{
    position: relative;
    left: 5rem;
    width: 80%;
}

.gridTwoFade h2, .gridTwoFade ul {
    position: relative;
    left: 2.5rem;
    right: 5rem;
    width: 80%;
}

.gridTwo img {
    position: relative;
    top: 0.5%;
}

@media (max-width: 500px) {
    #whatAvalanche {
        top: 2rem;
    }

    #whatAvalanche img {
        max-height: 15%;
        height: 15%;
        object-fit: cover;
    }
}