h3 {
    font-weight: normal;
}

.footerGrid {
    font-size: 1rem;
    background-color: #6b6b6b;;
}
.footerGrid a, .footerGrid p {
    color: #bdbdbd;
}

.footerGrid a {
    text-decoration: none;
}

#increaseOdds, #caughtIn{
    left: 5rem;
}
/*
#hero h1 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    top: 50%;
    left: 20%;
    bottom: 0rem;
    position: absolute;
    max-width: 30%;
    z-index: 3;
 
}*/

#whatAvalanche {
    position: relative;
    top: -10rem;
}

.gridOneFade h1, .gridOneFade ul{
    position: relative;
    left: 5rem;
    width: 80%;
}

.gridTwoFade h1, .gridTwoFade ul {
    position: relative;
    left: 2.5rem;
    right: 5rem;
    width: 80%;
}

.gridTwo img {
    position: relative;
    top: 0.5%;
}

#hazardousTerrainHeader {
    text-align: center;
}

#hazardousTerrain p {
    color: black;
    font-size: 2rem;
}

#whatAvalanche p {
    position: relative;
    left: 10%;
    width: 80%;
}


@media (max-width: 500px) {
    #whatAvalanche {
        top: 2rem;
    }

    #whatAvalanche img {
        max-height: 15%;
        height: 15%;
        object-fit: cover;
    }

    .gridOneFade h2, .gridOneFade ul, .gridTwoFade h2, .gridTwoFade ul {
        position: relative;
        left: 5%;
        width: 75%;
    }

    .gridOneFade .centerGridItem, .gridTwoFade .centerGridItem{
        width: 75%;
        left: 5%;
    }

}