.noListStyle {
    list-style: none;
}
.footerGrid p {
    color: #bdbdbd;
}

.footerGrid {
    font-size: 1rem;
    background: #6b6b6b;
}

.footerCitation a{
    color: #bdbdbd;
    text-decoration: none;
}

.footerMobile a{
    color: #bdbdbd;
    text-decoration: none;
}

.logoHeader {
    margin-left: auto;
    margin-right: auto;
}

#citationsList {
    position: relative;
    left:12.5%;
    max-width: 75%;
}

#citationsList ul li{
    margin-bottom:2rem;
}

#citationsList ul a{
    color: black;
    text-decoration: none;
}

#hero h1 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    top: 12em;
    left: 12em;
    position: relative;
    max-width: 50%;
}

#hero img {
    object-position: 50% 70%;
}
