.noListStyle {
    list-style: none;
}

.logoHeader {
    margin-left: auto;
    margin-right: auto;
}

#citationsList {
    position: relative;
    left:12.5%;
    max-width: 75%;
}

#citationsList ul li{
    margin-bottom:2rem;
}

#citationsList ul a{
    color: black;
    text-decoration: none;
}

#citationsList ul a:hover {
    color: rgb(255, 75, 75);
    transition: ease-in-out;
    transition-duration: 0.5s;
}

/*
#hero h1 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    top: 12em;
    left: 12em;
    position: relative;
    max-width: 50%;
}
*/

.heroH2 {
    left: 40%;
}

.heroH2 h2 {
    left: 4em;
}

#hero img {
    object-position: 50% 70%;
}
