/* Erin Beaudoin 301381019.
    How I learned this:
    Paul's 235 tutorials on youtube
    A Complete Guide to Flexbox: CSS-Tricks. (2020, June 12). Retrieved July 09, 2020, from https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    Web Dev Simplified (March 16, 2019) Learn CSS Box Model In 8 Minutes [Video]  Retrieved from: https://www.youtube.com/watch?v=rIO5326FgPE
    Web Dev Simplified (September 27, 2018) Learn Flexbox in 15 Minutes [Video] https://www.youtube.com/watch?v=fYq5PXgSsbE
      */
*, *::before, *::after {
    box-sizing: border-box;
}

.box {


	display: flex; /* displays this as a flexbox */
	flex-wrap: wrap; /* without this, everything tries to fit the width of the page, with this, it will wrap underneath when resized */
	justify-content: space-around;
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
}

.quickBrief {

	position: relative;
	margin-top: 5em;
	margin-bottom: 5em;
}


.column-container {
    display: flex;
    flex-direction: column;
}

.column-container-start{
	display:flex;
	flex-direction: column;
	justify-content:flex-start;
}


.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-container-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
}




.column{
	display: flex;
	flex-direction: column;
	align-items: center;
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex;
	position: relative;


}

.left-box {

	display: flex; /* displays this as a flexbox */
	flex-wrap: wrap; /* without this, everything tries to fit the width of the page, with this, it will wrap underneath when resized */
	justify-content: flex-start;
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */

}

.boxItemNav {

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;/* this means "look at my width or height property"*/

}

#navGrid {
    top:0;
    position:sticky;
    z-index: 10;
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
