@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, *::after, *::before {
	box-sizing: border-box;
}

nav a, nav a:visited {
    display: inline-block;
    background-color: rgb(255, 75, 75);
    color: #ffffff;
    padding: 1em 1.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navMainItem {
    display: inline-block;
    background-color: rgb(255, 75, 75);
    color: #ffffff;
    padding: 1em 1.25em;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

.navMain {
    z-index: 10;
}

.navSubMenu {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 1em 1.25em;
    text-decoration: none;
    width: 100%;
}

nav a:hover, nav a:active {
    text-decoration: underline;
    color: #ffffff;
}

#mobileNavGrid {
    display: none;
}

.box {

    /*Backwards Compatibility*/
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;

    /*Allowing for wrappable components*/
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.boxItemNav {
    text-align: center;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


#navBar {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*Just means that there will be 5 equally spaced out columns or rows depending on the name of the grid-template*/
    grid-gap: 5%;
    grid-template-rows: repeat(6, 1em);
}

#navBar a {
    align-self: center;
}

.dropDownMenu {
    margin-left: auto;
    margin-right: auto;
    z-index: 8;
    grid-column: 2;
    grid-row: 3;
    
}

.navOne {
    
    grid-column: 1/6; /*Starting at column 1 and going to column 5*/
    grid-row: 1/3;
}

.navTwo {
    z-index: 11;
    margin: auto;
    grid-column: 5/6;
    grid-row: 1/5;
}

.footerGrid {
    background-color: #6b6b6b;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.footerGrid a, .footerGrid p{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #bdbdbd;
}

.footerLogo {
    margin-left: auto;
    grid-column: 2/3;
    grid-row: 3/6;
}

.footerTitle {
    grid-column: 3/4;
    grid-row: 3/6;
}

.footerCredit {
    grid-column: 4/5;
    grid-row: 3/6;
}

.footerSocial {
    grid-column: 6/9;
    grid-row: 2/5;
}

.footerMobile {
    grid-column: 6/9;
    grid-row: 4/7;
}

.footerCitation {
    grid-column: 12/13;
    grid-row: 3/6;
}

.footerSocialSVG {
    display: flex;
    justify-content: center;
    grid-column: 6/9;
    grid-row: 4/6;
}

.footerSocialSVG img {
    margin-left: 1rem;
    max-width: 2rem;
    width: 1.25rem;
}

.centerGridItem {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.rightGridItem {
    align-self: center;
    margin-left: auto;
}

@media (max-width: 500px) {
    .footerGrid {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
    }

    .footerCitation, .footerCredit {
        display: none;
    }

    .footerGrid a, .footerGrid p {
        font-size: 1.25em;
        
    }
    
    .footerLogo {
        align-self: center;
        margin-right: auto;
        width: 50%;
        grid-column: 1/4;
        grid-row: 2/6;
    }

    .footerTitle {
        grid-column: 3/7;
        grid-row: 1/5;
    }

    .footerSocial {
        grid-column: 3/7;
        grid-row: 4/7;
    }

    .footerSocialSVG {
        height: 100px;
        grid-column: 3/7;
        grid-row: 6/9;
    }

    #hero h1 {
    }
    
    

    #navGrid {
        display: none;
    }

    #mobileNavGrid {
        background-color: rgb(255,75,75);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8, 1fr);
        top:0;
        position:sticky;
        z-index: 10;
    }

    #navLogo {
        grid-row: 1/4;
        grid-column: 5;
    }

    #navHamburger {
        grid-row: 1/4;
        grid-column: 1/2;
    }

    .navOne {
        grid-column: 1/5;
        grid-row: 1;
    }

    .mobileDropDownMenu {
        grid-column: 1/6;
        grid-row: 4/9;
    }


    .footerGrid img {
        
    }
}

@media (max-width: 784px) {
    .blankOne {
        display: none;
    }
}