@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*
This file has two links from google for both the opens sans font as well as the Josefin Sans font.
The contents are learned from the indepth tutorial that we had on CSS in either week 7 or 8, i don't know.
*/

html {
    font-family: "Open Sans", sans-serif;
}

#hero h1 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 2em;
    top: 6em;
    left: 1em;
    position: relative;
    max-width: 50%;
}

.bodyInfo {
    position: relative;
    margin-top: 0;
    max-width: 100%;
    margin: auto;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right:auto;
}

.logoHeader {
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
    padding: 0;
    margin-bottom: 0;
}

section {
    text-align: left;
    margin: 2rem 0;
    padding: 2rem;
}

nav a, nav a:visited {
    display: inline-block;
    background-color: aqua;
    color: #000000;
    padding: 1em 1.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}



.nav-main-item {
    display: inline-block;
    background-color: red;
    color: #ffffff;
    padding: 1em 1.25em;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

nav a:hover, nav a:active, nav a:active {
    background-color: black;
    color: #ffffff;
}


ul {
    display: inline-block;
    list-style: none;
}

#hero {
    position: relative;
    margin:0;
    padding:0;
    top: -11em;
}

#hero img {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

#hero h2 {
    position: relative;
    left:40%;
    bottom:3em;
}

#navGrid{
    top:0;
    position:sticky;
    z-index: 10;
}


@media (max-width: 57em) {
    #hero {
        top: -13.5em;
    }
}