@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*
This file has two links from google for both the opens sans font as well as the Josefin Sans font.
The contents are learned from the indepth tutorial that we had on CSS in either week 7 or 8, i don't know.
*/

/*html {
    font-family: "Open Sans", sans-serif;
}

body{
	font-family: "Open Sans", Arial, sans-serif;
	font-size:1.25rem;
	
}


h1, h2, h3{
    font-family: "Josefin Sans", Arial, sans-serif;
}

h2 {
    font-size: 2rem;
}

h3 { 
    font-size: 1.5rem;
}


#hero h1 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    top: 50%;
    left: 20%;
    bottom: 0rem;
    position: absolute;
    max-width: 50%;
    z-index: 2;
}


.bodyInfo {
    position: relative;
    margin-top: 0;
    max-width: 100%;
    margin: auto;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right:auto;
}

.logoHeader {
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
    padding: 0;
    margin-bottom: 0;
}

section {
    text-align: left;
    margin: 2rem 0;
    padding: 2rem;
}

nav a, nav a:visited {
    display: inline-block;
    background-color: red;
    color: #ffffff;
    padding: 1em 1.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}



.navMainItem {
    display: inline-block;
    background-color: red;
    color: #ffffff;
    padding: 1em 1.25em;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

nav a:hover, nav a:active {
    text-decoration: underline;
    color: #ffffff;
}


ul {
    display: inline-block;
    list-style: none;
}
*/

#hero h1 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    top: 50%;
    left: 20%;
    bottom: 0rem;
    position: absolute;
    max-width: 50%;
    z-index: 2;
}

#hero {
    position: relative;
    margin:0;
    padding:0;
    top: -11em;
}
/*
#hero img {
    min-width: 100%;
    height: 50rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: 50% 80%;
}*/
/*
#hero h2 {
    position: absolute;
    left:40%;
    bottom:-2.5%;
}
/*
#navGrid{
    top:0;
    position:sticky;
    z-index: 10;
}

.footerGrid p {
    color: #bdbdbd;
}

.footerGrid {
    background: #6b6b6b;
}

.footerCitation a{
    color: #bdbdbd;
    text-decoration: none;
}

.footerMobile a{
    color: #bdbdbd;
    text-decoration: none;
}*/

.hypoCheck, .hypoCheckTitle {
    top:10%;
    align-items: center;
    position: relative;
    left: 10%;
}

/*.roundThis {
    border-radius: 20px;
}
*/
.earlyWarningH3 {
    text-align: center;
}

#earlyWarning {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

#whatHypothermia {
    position: relative;
    top: -10rem;
}

@media (max-width: 500px) {
    #hero {
        top: -13.5em;
    }

    #whatHypothermia {
        top: 2rem;
    }

    .hypoCheckTitle, .hypoCheck {
        top: 1em;
        margin: 0;
        max-width: 80%;
    }
}