/* 
    This file draws from "Don't Overthink Grids" available at http://css-tricks.com/dont-overthink-it-grids/
    It also draws heavily from the tutorial in IAT 235's Week 7 or 8 (I can't remember) lecture.
*/

/*Border Box Model*/
*, *::before, *::after {
    box-sizing: border-box;
}



.box {

    /*Backwards Compatibility*/
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;

    /*Allowing for wrappable components*/
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.boxItemNav {
    text-align: center;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.boxItemCol2 {
    flex: 1 1 50%;
}


.twoByGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
}

.gridOne {
    grid-column: 1;
}
.gridTwo {
    grid-column: 2/span 1; /*This span means how many columns will it span*/
}

.threeByGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.gridThreeOneSpanOne {
    grid-column: 1;
}

.gridThreeOneSpanTwo {
    grid-column: 1/3;
}

.gridThreeTwoSpanOne {
    grid-column: 3;
}

.gridThreeTwoSpanTwo {
    grid-column: 2/4;
}

#checkList ul {
    list-style-image: url("../img/check.png");
    line-height: 2rem;
}

.centerGridItem {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}



@media (max-width: 30em) {
    .twoByGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .gridOne {
        grid-column: 1/2;
        grid-row: 1;
        width: 100%;
    }
    .gridTwo {
        grid-column: 1/2;
        grid-row: 2;
    }
    
}