@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*

Erin Beaudoin 301381019 P03, Step 3

/* Erin Beaudoin 301381019.
    How I learned this:
    Paul's 235 tutorials on youtube
    A Complete Guide to Flexbox: CSS-Tricks. (2020, June 12). Retrieved July 09, 2020, from https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    Web Dev Simplified (March 16, 2019) Learn CSS Box Model In 8 Minutes [Video]  Retrieved from: https://www.youtube.com/watch?v=rIO5326FgPE
    Web Dev Simplified (September 27, 2018) Learn Flexbox in 15 Minutes [Video] https://www.youtube.com/watch?v=fYq5PXgSsbE
    Web Dev Simplified (Nov 19, 2019) Learn CSS Media Query In 7 Minutes [Video] https://www.youtube.com/watch?v=yU7jJ3NbPdA
      */

body{
	font-family: "Open Sans", Arial, sans-serif;
	font-size:1.25rem;
}

h1{
	   margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 5.6rem;
    top: 50%;
    left: 15%;
    bottom: 0rem;
    position: absolute;
    max-width: 40%;
    z-index: 60;
}

h2{
	font-size: 3.75rem;
	text-align: center;

}


@media (min-width: 0px) and (max-width: 460px) {
	h1{
	font-size:3rem;
}
h2{
	font-size: 2.5rem;
	text-align: center;
}
}

@media (min-width: 461px) {
 h1{
	font-size:5rem;
}
h2{
	font-size: 3.2rem;
	text-align: center;

}
}



p, ol, ul{
	font-size: 1rem;
}

img{
	height:auto; /* if the image resizes, the heigh should adjust automatically when the width changes */
	max-width:100%; /* the maximum width this can have is 100%, won't exceed 100% of the parent element (in this case it's body{}) */
}

#hero img {
    min-width: 100%;
    height: 50rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
	object-position: 50% 60%;
}

a{
	color: rgb(37,169,198);
	text-decoration: none;
}
/*
a:hover, a:focus, a:active{
	color: rgb(24,113,133);
	font-size: 105%; /* learned from CSS :hover Selector. (n.d.). Retrieved July 01, 2020, from https://www.w3schools.com/cssref/sel_hover.asp*/
/*
}*/
.title{
	padding: 2rem;
	position: absolute;
	height: fit-content;
	top: 40%;
	left: 15%;
	bottom: 0rem;
}

.body-text{
	padding:2rem;
	max-width:40rem;
	z-index: 5;
}


.background {
	z-index: 0;
  display: block;
  position: absolute;
  height: fit-content;
  /*background: url(Rectangle 433.svg);*/
  /*background-size: 100px 82px;*/
}

.weather-column{
	max-width: 20rem;
	min-width: 15rem;
	border-right-width: 0.08rem;
	border-right-style: solid;
	border-top-width: 0.08rem;
	border-top-style: solid;
	border-bottom-width: 0.08rem;
	border-bottom-style: solid;
	border-color: #C4C4C4;
	border-left-width: 0.08rem;
	border-left-style: solid;
	/*border-height:494px;*/
}

.grey-background{
	background-color: rgb(243,243,243);
	padding-bottom: 5rem;    
	padding-top:  3rem;
}

.white-background{
	background-color: rgb(255,255,255);
	padding: 3rem; 
	padding-bottom: 5rem;        
}

.weather-day{
	 font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.weather-date{
	 font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-top: -2rem;
}

.weather-temp1{
	 font-family: "Open Sans", sans-serif;
    font-weight: 675;
    font-size: 3rem;
    text-align: center;
}

.weather-temp2{
	 font-family: "Open Sans", sans-serif;
    font-weight: 675;
    font-size: 2rem;
    text-align: center;
}

.weather-description{
	 font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    max-width: 14rem; 
     max-height: 3rem; 
     min-height: 3rem;
}

/*.navMainItem{

	background-color: rgb(255, 71, 71);
	font-size: 1.5rem;
	color: white;
	padding: 0.5rem 0.75rem;
	text-align: center;
	flex-basis: 20rem;
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}*/
/*
.nav-main {
	/*position: fixed;*/
	/*top: 0;
	left: 0;
	right: 0;

	z-index: 10;
}*/

.padthai{
	padding-left: 1rem;
	padding-right: 1rem;
}
/*
.navMainItem:hover, .navMainItem:active, .navMainItem:focus{
	background-color: rgb(50,50,50);
}*/
/*
.footer{
	background-color: rgb(107, 107, 107);
	color: white;
	padding: 4rem;
	border-top:2rem;
	margin-top: 4rem;
}
*/

.heroImg {
	object-position: 50% 60%;
}

@media (max-width: 500px) {
	#hero img {
		height: unset;
	}
	.heroImg {
		top: 13.75rem;
		width: fit-content;
		height: unset;
	}
	.whatWeDoImg {
		height: 10%;
		width: 80%;
	}
	.column img, .box img,.shrink {
		height: 10%;
		width: 80%;
	}

	.grey-background, .white-background {
		padding: 3rem;
	}
}