*, *::after, *::before {
	box-sizing: border-box;
}

.box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
} /* Resources used: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ and https://stackoverflow.com/questions/17695865/why-does-display-ms-flex-ms-justify-content-center-not-work-in-ie10*/

.boxItemNav { 
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
} /* Resource used: https://www.w3schools.com/css/css_grid_container.asp */

/*#navBar {
	display:grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
}*/

#forecastGrid {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(4, 1fr);
	margin-top: -7em;
	grid-gap: 1%;
}

.forecast1 {
	grid-column: 2/8;
	grid-row: 1/1;
}

.forecast2 {
	grid-column: 2/4;
	grid-row: 2/2;
}

.forecast3 {
	grid-column: 4/4;
	grid-row: 2/2;
}

.forecast4 {
	grid-column: 2/5;
	grid-row: 3/3;
}

.forecast5 {
	grid-column: 2/2;
	grid-row: 4/4;
}

.forecast6 {
	grid-column: 3/5;
	grid-row: 4/4;
}

.forecast7 {
	grid-column: 6/6;
	grid-row: 2/2;
}

.forecast8 {
	grid-column: 7/7;
	grid-row: 2/2;
}

.forecast9 {
	grid-column: 6/6;
	grid-row: 3/3;
}

.forecast10 {
	grid-column: 7/7;
	grid-row: 3/3;
}

.forecast11 {
	grid-column: 6/6;
	grid-row: 4/4;
}

.forecast12 {
	grid-column: 7/9;
	grid-row: 4/4;
}

.forecast13 {
	grid-column: 8/8;
	grid-row: 2/2;
}

.forecast14 {
	grid-column: 8/8;
	grid-row: 3/3;
}

.forecast15 {
	grid-column: 9/9;
	grid-row: 4/4;
}

.forecast16 {
	grid-column: 10/12;
	grid-row: 4/4;
}

.forecast17 {
	grid-column: 9/9;
	grid-row: 2/2;
}

.forecast18 {
	grid-column: 9/9;
	grid-row: 3/3;
}

#header3 {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: 1 1fr;
}

h3 {
	grid-column: 2/5;
	grid-row: 1/1;
}

#header4 {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: 1 1fr;
}

h4 {
	grid-column: 2/5;
	grid-row: 1/1;
}


#mtWebcamsHeader {
	display: grid;
	grid-template-columns: 3 1fr;
	grid-template-rows: 1 1fr;
}

.mtWebcamsHeader {
	grid-column: 2;
	grid-row: 1;
}

#webcamsGrid {
	display: grid;
	grid-template-columns: repeat(28, 1fr);
	grid-template-rows: 1 1fr;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 3em;
	margin-left: -0.8em;
}

.webcam1 {
	grid-column: 3/11;
	grid-row: 1/1;
}

.webcam2 {
	grid-column: 12/20;
	grid-row: 1/1;
}

.webcam3 {
	grid-column: 21/29;
	grid-row: 1/1;
}

#footerWrapper {
	display:grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 2%;
}

.logoFooter {
	grid-column: 2/3;
	grid-row: 2/3;
}

.kalmont {
	grid-column: 3/4;
	grid-row: 2/3;
}

.madeBy {
	grid-column: 4/5;
	grid-row: 2/3;
}

.socials {
	grid-column: 5/6;
	grid-row: 2/3;
}

.citations {
	grid-column: 7/8;
	grid-row: 2/3;
}

@media all and (max-width: 500px) {
	#forecastGrid {
		grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(13, 1fr);
        grid-gap: 0;
	}

	.forecast1 {
		grid-column: 1;
		grid-row: 1;
	}

	.forecast2 {
		grid-column: 1;
		grid-row: 2;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.forecast3 {
		grid-column: 1;
		grid-row: 3;
		margin-left: auto;
		margin-right: auto;
	}

	.forecast4 {
		grid-column: 1;
		grid-row: 4;
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-top: -2.5em;
	}

	.forecast5 {
		grid-column: 1;
		grid-row: 5;
		width: 20%;
		margin-left: auto;
		margin-right: 11em;
		margin-top: -4em;
	}

	.forecast6 {
		grid-column: 1;
		grid-row: 5;
		margin-left: auto;
		margin-right: 2em;
		margin-top: -4em;
	}

	.forecast7 {
		grid-column: 1;
		grid-row: 6;
		margin-left: auto;
		margin-right: 4em;
		margin-top: -7em;
	}

	.forecast8 {
		grid-column: 1;
		grid-row: 6;
		width: 20%;
		margin-left: auto;
		margin-right: 9em;
		margin-top: -7em;
	}

	.forecast9 {
		grid-column: 1;
		grid-row: 7;
		margin-left: auto;
		margin-right: 4em;
		margin-top: -11em;
	}

	.forecast10 {
		grid-column: 1;
		grid-row: 7;
		width: 20%;
		margin-left: auto;
		margin-right: 9em;
		margin-top: -11em;
	}

	.forecast11 {
		grid-column: 1;
		grid-row: 8;
		width: 20%;
		margin-left: auto;
		margin-right: 10em;
		margin-top: -13em;
	}

	.forecast12 {
		grid-column: 1;
		grid-row: 8;
		margin-left: auto;
		margin-right: 3em;
		margin-top: -13.5em;
	}

	.forecast13 {
		grid-column: 1;
		grid-row: 9;
		margin-left: auto;
		margin-right: auto;
		margin-top: -17em;
	}

	.forecast14 {
		grid-column: 1;
		grid-row: 10;
		margin-left: auto;
		margin-right: auto;
		margin-top: -21.5em;
	}

	.forecast15 {
		grid-column: 1;
		grid-row: 11;
		width: 20%;
		margin-left: auto;
		margin-right: 12em;
		margin-top: -24em;
	}

	.forecast16 {
		grid-column: 1;
		grid-row: 11;
		margin-left: auto;
		margin-right: 1em;
		margin-top: -24.5em;
	}

	.forecast17 {
		grid-column: 1;
		grid-row: 12;
		margin-left: auto;
		margin-right: auto;
		margin-top: -28em;
	}

	.forecast18 {
		grid-column: 1;
		grid-row: 13;
		margin-left: auto;
		margin-right: auto;
		margin-top: -32.5em;
	}

	#liftStatusTable {
		margin-top: -34em;
	}

	h3 {
		margin-left: 1em;
	}

	#webcamsGrid {
		grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 0;
	}

	.webcam1 {
		grid-column: 1;
		grid-row: 1;
		margin-left: 2.5em;
	}

	.webcam2 {
		grid-column: 1;
		grid-row: 2;
		margin-left: 2.5em;
	}

	.webcam3 {
		grid-column: 1;
		grid-row: 3;
		margin-left: 2.5em;
	}
}

