@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
	font-family: "Open Sans", Arial, sans-serif;
	font-size:1.25rem;
	/*margin:1rem;*/
	
}

.h1Background {
    position: absolute;
    height: 70%;
    width: 35%;
    left: 19%;
    top: 9em;
    z-index: 2;
}

.h1Background path {
    fill-opacity:0.75;
    fill:white;
}

#hero h1 {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    top: 45%;
    left: 20%;
    bottom: 0rem;
    position: absolute;
    max-width: 25%;
    z-index: 3;
}

h1, h2, h3{
    font-family: "Josefin Sans", Arial, sans-serif;
}

h2 {
    font-size: 2rem;
}

h3 { 
    font-size: 1.5rem;
}

h1{
	font-family: "Josefin Sans", Arial, sans-serif;
	font-size:5.6rem;
	margin-bottom: 1;
}

img {
    max-height: 100%;
    height: auto;
    max-width: 100%;
    
}

#hero {
    position: relative;
    margin:0;
    padding:0;
    top: -11em;
}

.heroImg {
    min-width: 100%;
    height: 50rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.h2Background {
    height: 50%;
    width: 20em;
}

.heroH2 {
    color: white;
    left: 42.5%;
    position: absolute;
    bottom:-3em;
}

.heroH2 h2 {
    position: absolute;
    left: 1em;
    bottom: 0.5em;
}

nav a, nav a:visited {
    display: inline-block;
    background-color: red;
    color: #ffffff;
    padding: 1em 1.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.logoHeader {
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
    padding: 0;
    margin-bottom: 0;
}

.navMainItem {
    display: inline-block;
    background-color: red;
    color: #ffffff;
    padding: 1em 1.25em;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

nav a:hover, nav a:active {
    text-decoration: underline;
    color: #ffffff;
}

#navGrid{
    top:0;
    position:sticky;
    z-index: 10;
}

.roundThis {
    border-radius: 20px;
}


@media (max-width: 500px) {

    #hero h1 {
        top: 10em;
        border: none;
        padding: none;
        width: 30%;
        height: 30%;
        font-size: 1.4em;
        left: 1.5em;
    }

    .h1Background {
        width: 60%;
        top: 10em;
        left: 2em;
    }

    .heroImg {
        top: 13.75rem;
        position: relative;
        height: unset;
    }

    .heroH2 {
        position: relative;
        top: 9em;
        left: 12.5%;
        width: 75%;
    }

    .heroH2 h2 {
        left: 1.5em;
        top: 0.25em;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
        width: 50%;
    }

    .logoHeaderMobile {
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        padding: 0;
        margin-bottom: 0;
    }

    #navBar {
        display: none;
    }

    .h2Background {
        width: 100%;
        margin: none;
    }
    .heroH2 h2 {
        font-size: 1.25em;
    }

}